#coffeeheader {
	text-align: left;
}

#logo {
	text-align: center;
	position: fixed; /* careful with fixed positioning... it'll cause your logo to move when you scroll the page. -G */	
	top: 0px;
	margin-left: 450px;
	margin-top: 20px;
}

.menu {
	width: 993px;
	padding: 15px;
	text-align: center;
	position: absolute;
	top: 200px;
	background-color: #230b03;
}

/*=============is inline what makes header nav elements horizontal?=============*/
/* yes! <li> elements are display:block by default, so you need to set them to inline so they'll sit next to each other */
.menu li {
	display: inline;
	margin: 15px;
	color: #999966;
	font-family: Georgia;
	font-size: 18px;
}
/*==========================*/

/*are there rules of CSS order? I know what's on bottom takes precendence, but should basics be on top like body*/
/* top-to-bottom is really a tiebreaker; the most important thing is specificity: http://css-tricks.com/specifics-on-css-specificity/
   conventionally, less specific styles (e.g. "body") tend to go near the top, to reduce confusion when reading the styles. -G */

body {
	text-align: center;
	width: 100%;
	font-family: Georgia;
	font-size: 16px;
}

.leftcolumn {
	float: left;
	width: 360px;
	margin: 10px;
	padding-left: 100px;
}

.rightcolumn {
	float: left;
	width: 360px;
	margin: 10px;
	padding-left: 75px;
}

/* not to get too far ahead of ourselves, but it helps to keep your CSS class names semantic rather than presentational;
   e.g. ".leftcolumn" presupposes that the column will always be on the left, when in fact you might want that to stack vertically
   in a responsive layout. instead, try something like "col-1-of-2". just a good habit to get into. -G */

.beans li {
	text-align: left;
	font-family: Georgia;
	font-size: 16px;
	margin: 20px 30px 0px 0px;
	margin-left: 150px;
	margin-right: 150px;
	list-style-image: url("images/bullet-bean.png");
}

a:link {
	color: #cebb99;
	text-decoration: none;
}

a:visited {
	color: #cebb99;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

h3 {
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	color: #935d38;
}

h4 {
	text-align: center;
	font-family: Arial;
	font-size: 16px;
	color: #935d38;
}

.footer {
	width: 1021px;
	height: 113px;
	background-color: #230b03;
}

#footerbody {
	text-align: center;
	font-family: Georgia;
	font-size: 14px;
	margin: 30px;
	padding: 20px;
	color: #cebb99;
}

.content {
	height: 100%;
	width: 1021px;
}

.center {
	height: 350px;
}

iframe {
	margin: 30px;
}
