#coffeeheader {
	text-align: left;
}

body {
	text-align: center;
	width: 100%;
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: 'Wendy One'; sans-serif;
	color: #935d38;
}

h3 {
	text-align: center;
	font-family: 'Wendy One'; sans-serif;
	font-size: 20px;
	color: #935d38;
}

h4 {
	text-align: center;
	font-family: 'Wendy One'; sans-serif;
	font-size: 16px;
	color: #935d38;
}

#logo {
	text-align: center;
	position: fixed; /*logo should not be fixed?*/
	top: 0px;
	margin-left: 450px;
	margin-top: 20px;
}

.menu {
	width: 993px;
	padding: 15px;
	text-align: center;
	position: absolute;
	top: 200px;
	background-color: #230b03;
}

.menu li {
	display: inline;
	margin: 15px;
	color: #999966;
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
}

.leftcolumn {
	float: left;
	width: 400px;
	margin: 10px;
	padding-left: 75px;
}

.rightcolumn {
	float: left;
	width: 400px;
	margin: 10px;
	padding-left: 75px;
}

.beans li {
	text-align: left;
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	margin: 20px 30px 0px 0px;
	margin-left: 150px;
	margin-right: 150px;
	list-style-image: url("images/bullet-bean.png");
}

a:link {
	color: #cebb99;
	text-decoration: none;
}

a:visited {
	color: #cebb99;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

.footer {
	width: 1021px;
	height: 113px;
	background-color: #230b03;
}

#footerbody {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	margin: 30px;
	padding: 20px;
	color: #cebb99;
}

.content {
	height: 100%;
	width: 1021px;
}

.center {
	height: 350px;
}

iframe {
	margin: 30px;
}
