/*Questions:
--is it necessary to put <text-align: left> in CSS? Or is it default? I notice when I remove it from my styles the text remains in place.*/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: HelveticaNeue-Light; Arial; sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

p:em {
	font-family: HelveticaNeue-LightItalic;
}

.dropcap:first-letter {
	font-family: 'LeagueGothicRegular'; Arial; sans-serif;
	font-size: 500%;
	color: #FF9140;
}

ul.navlist {
	color: white;
	font-family: HelveticaNeue-Light; Arial; sans-serif;
	font-size: 20px;
	line-height: 1.4em;
	list-style-type: square;
	text-transform: lowercase;
}

ul.navlist a:visited {
	color: white;
}

.recent-posts {
	font-family: HelveticaNeue-Light; Arial; sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

.posts {
	width: 600px;
}

a:link {
	color: red;
	text-decoration: none;
}

a:hover {
	color: #67E300;
	text-decoration: none;
}

a:visited {
	color: red;
	text-decoration: none;
}

.archive-year {
	font-family: 'LeagueGothicRegular'; Arial; sans-serif;
	color: #006056;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: .15em;
}

h5 {
	font-family: HelveticaNeue-Light; Arial; sans-serif;
}

h2 {
    font-family: 'LeagueGothicRegular'; Arial; sans-serif;
    font-size: 36px;
} 

/*I have no idea what I made here, or what it's for. Dust bunny.*/
p.intro:first-letter {
	font-family: 'LeagueGothicRegular'; Arial; sans-serif;
	font-size: 200%;
}

/*screaming lady image on about page*/
img.align-left {
	float: left;
	margin-right: 10px
}

/*playing around with a background image*/
.image {
	background-image: url("images/swirls.png");
	margin-bottom: 40px;
}

.archive-text {
	color: #ffffff;
	padding: 10px;
}

/*==========================this is form stuff from the book, i didn't style this=======================*/
.contact-form {
	border-bottom: 1px solid #efefef;
	margin: 10px;
	padding-bottom: 10px;
	width: 260px;
}

.title {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

.radio-buttons label {
	float: none;
}

.submit {
	text-align: right;
}
/*==========================end form stuff from the book=======================*/