body {
	font-family: HelveticaNeue-Light; Arial; sans-serif;
	font-size: 14px;
	text-align: left;
	line-height: 1.5em;
}

p:em {
	font-family: HelveticaNeue-LightItalic;
}

/*this style I'm only using on the about page first paragraph. it's making it be all paragraph styles. NOW IT'S MISSING, what did i do?????*/
.dropcap:first-letter {
	font-family: HelveticaNeue-Bold; Arial; sans-serif;
	font-size: 300%;
	color: #FF9140;
}

ul.navlist {
	color: #ffffff;
	font-family: HelveticaNeue-Light; Arial; sans-serif;
	font-size: 24px;
	text-align: left;
	line-height: 1.4em;
	list-style-type: square;
}

ul.navlist a:visited {
	color: white;
}

.recent-posts {
	font-family: HelveticaNeue-Light; Arial; sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 1.5em;
}

.posts {
	width: 600px;
}

a:link {
	color: red;
	text-decoration: none;
}

a:hover {
	color: #67E300;
	text-decoration: none;
}

a:visited {
	color: red;
	text-decoration: none;
}
#archive-year {
	font-family: HelveticaNeue-Bold; Arial; sans-serif;
	text-align: left;
	color: #FF9140;
}

h5 {
	font-family: HelveticaNeue-Light; Arial; sans-serif;
	text-align: left;
}

p.intro:first-letter {
	font-size: 200%;
}

img.align-left {
	float: left;
	margin-right: 10px
}

.image {
	background-image: url("images/swirls.png");
	margin-bottom: 40px;
	box-shadow: 12px;
}

.archive-text {
	color: #ffffff;
	padding: 10px;
}

/*==========================this is form stuff from the book=======================*/
.contact-form {
	border-bottom: 1px solid #efefef;
	margin: 10px;
	padding-bottom: 10px;
	width: 260px;
}

.title {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

.radio-buttons label {
	float: none;
}

.submit {
	text-align: right;
}
/*==========================end form stuff from the book=======================*/